* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  height: 100vh;
}
.site-title h1 {
  font-weight: 400;
  font-family: "Lora", sans-serif;
  color: #1e56a0;
  font-size: 2rem;
  margin: 0;
}
.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
  text-transform: capitalize;
}
.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.container-nav {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: lightgrey;
  padding: 2em 0;
  box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.19);
}
@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin-left: 2em;
}
nav a {
  text-decoration: none;
  color: #163172;
  font-weight: 600;
  text-transform: capitalize;
  padding: 2em 0;
}
nav a:hover,
nav a:focus {
  color: #1e56a0;
}
.current-page {
  color: #1e56a0;
}
.current-page:hover {
  color: #1e56a0;
}
@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
  }
}
/* Home page */
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing-text h3 {
  font-weight: 700;
  color: white;
  font-family: "Lora", sans-serif;
}
.landing-text h1 {
  font-size: 450%;
  font-weight: 700;
  color: white;
  font-family: "Lora", sans-serif;
  padding-bottom: 0;
  margin: 0 0;
}
@media (max-width: 600px) {
  .landing-text h1 {
    font-size: 260%;
  }
}
.btn-hire {
  background-color: #1e56a0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}
.btn-hire:hover,
.btn-hire:focus {
  background-color: #163172;
}
@media (max-width: 800px) {
  .btn-hire {
    padding: 8px 16px;
  }
}
#hr-main {
  width: 100px;
  height: 5px;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 8px;
}

/* Gallery Section */
.gallery-header {
  text-align: center;
  padding: 32px;
  background-color: lightgrey;
}
.gallery-header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #1e56a0;
}
@media (max-width: 600px) {
  .gallery-header h1 {
    font-size: x-large;
  }
}
.gallery-header p {
  font-weight: 600;
  color: #181b2c;
}
.gallery-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 14px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 6px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


/* About Section */
.about {
  margin: 3rem 4rem;
  display: flex;
  flex-wrap: wrap;
}
.about-header {
  text-align: center;
}
@media (max-width: 576px) {
  .about-header {
    text-align: center;
  }
}
.about-header h1 {
  font-weight: 700;
  font-size: 2.2rem;
  color: #1e56a0;
}
.about-content p {
  color: #181b2c;
  text-align: center;
  font-weight: 700;
}
/* Contact SEction */
.contact h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #1e56a0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px 2em;
}
.flex-item-left {
  padding: 10px;
  flex: 50%;
}
.flex-item-left h4 {
  font-weight: 700;
  color: #181b2c;
}
.flex-item-left p {
  font-weight: 400;
  color: #181b2c;
}
.flex-item-right {
  padding: 10px;
  flex: 50%;
}
.flex-item-right form {
  margin: 10px;
}
.flex-item-right form input[type="text"],
select,
textarea {
  font-weight: 400;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.flex-item-right button {
  background-color: #1e56a0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
}
.flex-item-right button:hover,
.flex-item-right button:focus {
  background-color: #163172;
  color: white;
}
@media (max-width: 800px) {
  .flex-item-left,
  .flex-item-right {
    flex: 100%;
  }
}
/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background-color: #1e56a0;
  margin-top: 20px;
}

footer h3 > span,
footer h3 > a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin: 0 auto;
}